.grad{
    background-image: linear-gradient(to bottom right, #1240be, #30a862);
    width: 100%;
    height: 100%;
    margin: auto;
    min-height:100vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgprimary{
    color: #fdfdfd;
}
#contact{
text-align: center;
background-color: #0061df;
padding: 5px;
}
.img-responsive{
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}
#linkedin{
    padding: 10px;
    text-decoration: none;
    }
#github{
    padding: 10px;
    text-decoration: none;
}
